MYSQL_ROOT_PASSWORD=tu_password_root
MYSQL_DATABASE=olimpiadas_peru
MYSQL_USER=olimpiadas_user
MYSQL_PASSWORD=tu_password_aqui

DATABASE_URL=mysql+pymysql://olimpiadas_user:tu_password_aqui@db:3306/olimpiadas_peru

SECRET_KEY=genera_una_clave_secreta_larga_y_aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480